In [124]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.legend_handler import HandlerLine2D
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

%matplotlib inline


#You should download this from the site and change to your directory. Files too big for git to hold.
#https://nycopendata.socrata.com/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9
df= pd.read_csv('C:/Users/Garland/Desktop/311_Service_Requests_from_2010_to_Present.csv')

df.head(5)

C:\Users\Garland\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,17,31,32,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,23509318,06/27/2012 12:00:00 AM,07/02/2012 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,NONCONST,RUBBISH,RESIDENTIAL BUILDING,11221.0,1209 BUSHWICK AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688141,-73.915739,"(40.68814105386948, -73.91573940478034)"
1,23509319,06/27/2012 12:00:00 AM,07/05/2012 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,NONCONST,RUBBISH,RESIDENTIAL BUILDING,11221.0,71 STUYVESANT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.693516,-73.934153,"(40.693516344264985, -73.93415258394502)"
2,23509320,06/27/2012 09:02:26 AM,06/28/2012 12:00:00 AM,DOB,Department of Buildings,General Construction/Plumbing,Debris - Falling Or In Danger Of Falling,NaN,11357.0,154-33 11 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.792275,-73.806784,"(40.79227480990045, -73.80678362193075)"
3,23509321,06/27/2012 05:56:20 PM,06/29/2012 12:00:00 AM,DOB,Department of Buildings,General Construction/Plumbing,Debris - Falling Or In Danger Of Falling,NaN,10003.0,123 3 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.732979,-73.986848,"(40.732979398765266, -73.9868479762699)"
4,23509322,06/27/2012 11:12:22 AM,06/28/2012 12:00:00 AM,DOB,Department of Buildings,General Construction/Plumbing,Illegal Conversion Of Commercial Bldg/Space To...,NaN,11222.0,239 BANKER STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.726162,-73.956161,"(40.72616206569638, -73.95616079615964)"

In [125]:
df.tail(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
2576226,28750618,08/25/2014 12:05:00 PM,08/27/2014 01:43:00 PM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,10002.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.712463,-73.992403,"(40.71246283239562, -73.99240339194684)"
2576227,28750619,08/25/2014 12:00:00 AM,09/08/2014 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PAINT/PLASTER,CEILING,RESIDENTIAL BUILDING,10466.0,4426 FURMAN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2576228,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2576229,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2576230,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
df.shape

(2576231, 41)

In [127]:
df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [128]:
df['Incident Zip'].unique()

array([11221., 11357., 10003., 11222., 10465., 10456., 11237., 11436.,
       11691., 11228., 11206., 11218., 10310., 10306., 11210., 11223.,
       11214., 11230., 10013., 11375., 11434., 11428., 11225., 11229.,
       11355., 10033., 10458., 11211., 10469., 10028., 11236., 11238.,
       10023., 10037., 10302., 10004., 11432., 11106., 11412., 10453.,
       10011., 10030., 11233., 10031., 11207., 10460., 11423., 10040.,
       10467., 11235., 10026., 11385., 11369., 10027., 11212., 10032.,
       11220., 10462., 11213., 11208., 11217., 11694., 11413., 10009.,
       11224., 11373., 11377., 10472., 11103., 10468., 10303., 11435.,
       10010., 10036., 11354., 10455., 11226., 10308., 10452., 10454.,
       11420., 11231., 11427., 10312., 11414., 11203., 11102., 10025.,
       11216., 10457., 10463., 10474., 10022., 10018., 10012., 11374.,
       11209., 10301., 10304., 11368., 11205., 11433., 11411., 10305.,
       11415., 11356., 10451., 10314., 11367., 11364., 11204., 10029.,
       11201., 11101., 11358., 11361., 11219., 11421., 10459., 11215.,
       10024., 10470., 10002., 10471., 11365., 11105., 10473., 10466.,
       10461., 11418., 11232., 10034., 10001., 11004., 10065., 11419.,
       11416., 10309., 10019., 11249., 11234., 10035., 11372., 10039.,
       11366., 10016., 10128., 10021., 10017., 11363., 11417., 11422.,
       11370., 11378., 11362., 10475., 10464., 10006., 11429., 11379.,
       10307., 10014., 11104., 10075., 10038., 11360., 11430., 11693.,
       11692., 11239., 11426., 10280.,    nan, 11697., 10005., 11040.,
       10007., 11001., 10282., 10020., 11695., 10044., 10048., 11359.,
       10069., 11109., 10041., 10000., 10107., 10281., 10803., 10111.,
       11005., 10112.,     0., 10129., 10162., 10173., 11241., 10103.,
       11371., 10153., 10119., 10704., 10123., 10118., 10122., 11242.,
          83., 10115., 10177., 10507., 11251., 10165.])

In [129]:
# Count null zips
print(df['Incident Zip'].isnull().value_counts())

False    2575356
True         875
Name: Incident Zip, dtype: int64

In [130]:
# Fill them with 0s and we will get rid of them

df['Incident Zip'].fillna(0.0, inplace = True)

In [131]:
print(df['Incident Zip'].isnull().value_counts())

False    2576231
Name: Incident Zip, dtype: int64

In [132]:
# Drop zip code errors

df = df.loc[~df['Incident Zip'].isin(['0.', '83.'])]

In [133]:
df['Incident Zip'].unique()

array([11221., 11357., 10003., 11222., 10465., 10456., 11237., 11436.,
       11691., 11228., 11206., 11218., 10310., 10306., 11210., 11223.,
       11214., 11230., 10013., 11375., 11434., 11428., 11225., 11229.,
       11355., 10033., 10458., 11211., 10469., 10028., 11236., 11238.,
       10023., 10037., 10302., 10004., 11432., 11106., 11412., 10453.,
       10011., 10030., 11233., 10031., 11207., 10460., 11423., 10040.,
       10467., 11235., 10026., 11385., 11369., 10027., 11212., 10032.,
       11220., 10462., 11213., 11208., 11217., 11694., 11413., 10009.,
       11224., 11373., 11377., 10472., 11103., 10468., 10303., 11435.,
       10010., 10036., 11354., 10455., 11226., 10308., 10452., 10454.,
       11420., 11231., 11427., 10312., 11414., 11203., 11102., 10025.,
       11216., 10457., 10463., 10474., 10022., 10018., 10012., 11374.,
       11209., 10301., 10304., 11368., 11205., 11433., 11411., 10305.,
       11415., 11356., 10451., 10314., 11367., 11364., 11204., 10029.,
       11201., 11101., 11358., 11361., 11219., 11421., 10459., 11215.,
       10024., 10470., 10002., 10471., 11365., 11105., 10473., 10466.,
       10461., 11418., 11232., 10034., 10001., 11004., 10065., 11419.,
       11416., 10309., 10019., 11249., 11234., 10035., 11372., 10039.,
       11366., 10016., 10128., 10021., 10017., 11363., 11417., 11422.,
       11370., 11378., 11362., 10475., 10464., 10006., 11429., 11379.,
       10307., 10014., 11104., 10075., 10038., 11360., 11430., 11693.,
       11692., 11239., 11426., 10280., 11697., 10005., 11040., 10007.,
       11001., 10282., 10020., 11695., 10044., 10048., 11359., 10069.,
       11109., 10041., 10000., 10107., 10281., 10803., 10111., 11005.,
       10112., 10129., 10162., 10173., 11241., 10103., 11371., 10153.,
       10119., 10704., 10123., 10118., 10122., 11242., 10115., 10177.,
       10507., 11251., 10165.])

In [134]:
train_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_train.csv')
test_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test1.csv')
submit2_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test3.csv')

In [135]:
df.loc[df['Complaint Type'] == 'Rodent']

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
10,23509344,06/27/2012 12:00:00 AM,07/31/2012 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11228.0,901 80 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.622683,-74.019020,"(40.62268259782637, -74.0190200085561)"
11,23509345,06/27/2012 12:00:00 AM,06/27/2012 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11206.0,128 MANHATTAN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.706936,-73.944859,"(40.70693564721781, -73.9448588214993)"
12,23509346,06/27/2012 12:00:00 AM,07/16/2012 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Construction Site,11218.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.647693,-73.980364,"(40.647692997464205, -73.98036384915527)"
47,23509483,06/27/2012 12:00:00 AM,07/03/2012 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,11222.0,616 MORGAN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.725293,-73.939670,"(40.72529275223191, -73.93967001635032)"
49,23509485,06/27/2012 12:00:00 AM,07/27/2012 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,3+ Family Apt. Building,10011.0,202 WEST 24 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.744942,-73.995612,"(40.74494169531113, -73.99561159605538)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2576013,28750144,08/25/2014 12:00:00 AM,09/02/2014 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,11412.0,111-09 203 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.704487,-73.753688,"(40.70448675776185, -73.75368767132123)"
2576024,28750162,08/25/2014 12:00:00 AM,08/25/2014 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,11434.0,144-14 159 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.664793,-73.778652,"(40.66479305165187, -73.77865165209593)"
2576025,28750163,08/25/2014 12:00:00 AM,09/04/2014 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,11232.0,214A 29 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.657249,-73.998742,"(40.65724925348232, -73.9987421548404)"
2576034,28750186,08/25/2014 12:00:00 AM,09/03/2014 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,11434.0,176-33 120 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.684604,-73.768551,"(40.68460424199956, -73.76855141857381)"
2576127,28750365,08/25/2014 12:00:00 AM,08/26/2014 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,11216.0,653 ST MARKS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.675291,-73.951443,"(40.675291416897785, -73.9514426917925)"

In [136]:
df['Complaint Type'].unique()

array(['NONCONST', 'General Construction/Plumbing', 'Plumbing',
       'Sanitation Condition', 'Rodent', 'Street Condition',
       'Consumer Complaint', 'Street Light Condition',
       'Derelict Vehicles', 'Graffiti', 'Litter Basket / Request',
       'Recycling Enforcement', 'Special Projects Inspection Team (SPIT)',
       'Dirty Conditions', 'Missed Collection (All Materials)',
       'Traffic Signal Condition', 'BEST/Site Safety', 'PAINT - PLASTER',
       'PLUMBING', 'ELECTRIC', 'GENERAL CONSTRUCTION', 'HEATING',
       'Other Enforcement', 'Noise - Street/Sidewalk', 'Water System',
       'Unsanitary Animal Pvt Property', 'Air Quality', 'Noise', 'Sewer',
       'Noise Survey', 'Bus Stop Shelter Complaint', 'Building/Use',
       'Electrical', 'Elevator', 'Investigations and Discipline (IAD)',
       'Scaffold Safety', 'Hazardous Materials', 'Lead',
       'Water Conservation', 'APPLIANCE', 'Root/Sewer/Sidewalk Condition',
       'Overflowing Litter Baskets', 'Overgrown Tree/Branches',
       'Vacant Lot', 'Taxi Complaint', 'For Hire Vehicle Complaint',
       'CONSTRUCTION', 'Industrial Waste', 'Damaged Tree', 'Plant',
       'Street Sign - Missing', 'Water Quality',
       'Bus Stop Shelter Placement', 'Sidewalk Condition', 'Dead Tree',
       'Derelict Vehicle', 'Food Establishment', 'Asbestos',
       'Collection Truck Noise', 'Derelict Bicycle',
       'Unsanitary Pigeon Condition', 'Boilers', 'New Tree Request',
       'Smoking', 'Sweeping/Missed-Inadequate', 'Illegal Tree Damage',
       'Noise - Residential', 'Indoor Sewage', 'Drinking Water',
       'Cranes and Derricks', 'Street Sign - Damaged',
       'Unsanitary Animal Facility', 'Maintenance or Facility',
       'Construction', 'Emergency Response Team (ERT)', 'Illegal Parking',
       'Standing Water', 'Broken Muni Meter', 'Noise - Vehicle',
       'Non-Emergency Police Matter', 'Miscellaneous Categories',
       'Street Sign - Dangling', 'Illegal Animal Sold',
       'Blocked Driveway', 'Drinking', 'Violation of Park Rules',
       'Illegal Fireworks', 'Highway Condition',
       'City Vehicle Placard Complaint', 'Indoor Air Quality',
       'Noise - Park', 'Disorderly Youth', 'Food Poisoning', 'Vending',
       'Found Property', 'Unleashed Dog', 'Illegal Animal Kept as Pet',
       'Bike Rack Condition', 'Adopt-A-Basket', 'Noise - Helicopter',
       'Urinating in Public', 'Noise - House of Worship',
       'Noise - Commercial', 'Curb Condition', 'School Maintenance',
       'Summer Camp', 'ATF', 'Mold',
       'Special Natural Area District (SNAD)', 'Traffic',
       'Calorie Labeling', 'Stalled Sites', 'Homeless Encampment',
       'Broken Parking Meter', 'Benefit Card Replacement',
       'Bridge Condition', 'Animal Facility - No Permit',
       'Public Payphone Complaint', 'Poison Ivy',
       'Beach/Pool/Sauna Complaint', 'Animal in a Park', 'Tattooing',
       'Lifeguard', 'FATF', 'Senior Center Complaint',
       'Municipal Parking Facility', 'Window Guard',
       'Non-Residential Heat', 'GENERAL', 'PAINT/PLASTER',
       'Posting Advertisement', 'X-Ray Machine/Equipment', 'Snow',
       'Panhandling', 'Trans Fat', 'Legal Services Provider Complaint',
       'Highway Sign - Damaged', 'Bike/Roller/Skate Chronic',
       'Highway Sign - Missing', 'Public Toilet', 'Harboring Bees/Wasps',
       'Transportation Provider Complaint',
       'Construction Safety Enforcement', 'Highway Sign - Dangling',
       'Bottled Water', 'Building Condition', 'Radioactive Material',
       'Homeless Person Assistance', 'Animal Abuse', 'Facades',
       'STRUCTURAL', 'DPR Internal', 'Sweeping/Missed',
       'Sweeping/Inadequate', 'Request Xmas Tree Collection',
       'Overflowing Recycling Baskets', 'Building Marshals office',
       'SAFETY', 'UNSANITARY CONDITION', 'WATER LEAK', 'DOOR/WINDOW',
       'FLOORING/STAIRS', 'HEAT/HOT WATER', 'OUTSIDE BUILDING',
       'ELEVATOR', 'VACANT APARTMENT'], dtype=object)

In [137]:
# Getting complaints that may sugguest a not very nice neighborhood, which can lower prices on some areas.
# Some complaints may help us determine the housing utilities as well.

new_df = df.loc[df['Complaint Type'].isin(['Sanitation Condition', 'Rodent', 'Street Condition', 'Dirty Conditions',
                                          'Noise - Street/Sidewalk', 'Noise', 'Root/Sewer/Sidewalk Condition', 'Asbestos',
                                          'Hazardous Materials', 'Unsanitary Pigeon Condition', 'Noise - Residential',
                                          'Drinking', 'Illegal Fireworks', 'Disorderly Youth', 'Homeless Encampment',
                                          'Poison Ivy', 'Building Condition', 'UNSANITARY CONDITION',
                                          'Noise - Commericial', 'Facades', 'Graffiti', 'PLUMBING', 'HEATING', 'ELECTRIC',
                                          'Boilers', 'Disorderly Youth'])]

new_df.head(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
8,23509339,06/27/2012 02:31:00 AM,06/27/2012 12:00:00 PM,DSNY,Queens East 12,Sanitation Condition,12 Dead Animals,Sidewalk,11436.0,116 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.679962,-73.802209,"(40.679962465998194, -73.80220932208167)"
9,23509340,06/27/2012 03:25:00 PM,06/28/2012 12:00:00 PM,DSNY,BCC - Queens East,Sanitation Condition,22 Weeds,Sidewalk,11691.0,330 BEACH 40 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.595054,-73.772160,"(40.59505427220381, -73.772160146091)"
10,23509344,06/27/2012 12:00:00 AM,07/31/2012 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11228.0,901 80 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.622683,-74.019020,"(40.62268259782637, -74.0190200085561)"
11,23509345,06/27/2012 12:00:00 AM,06/27/2012 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11206.0,128 MANHATTAN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.706936,-73.944859,"(40.70693564721781, -73.9448588214993)"
12,23509346,06/27/2012 12:00:00 AM,07/16/2012 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Construction Site,11218.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.647693,-73.980364,"(40.647692997464205, -73.98036384915527)"

In [138]:
new_df.tail(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
2576192,28750551,08/25/2014 12:00:00 AM,09/10/2014 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,ELECTRIC,OUTLET/SWITCH,RESIDENTIAL BUILDING,11236.0,9320 AVENUE L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636865,-73.898084,"(40.636865247686245, -73.89808438974755)"
2576193,28750553,08/25/2014 12:37:00 PM,08/25/2014 12:37:00 PM,DSNY,BCC - Queens West,Sanitation Condition,12 Dead Animals,Sidewalk,11105.0,23-79 24 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775940,-73.919170,"(40.775940009617706, -73.91917027518858)"
2576199,28750565,08/25/2014 12:00:00 AM,09/19/2014 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,ELECTRIC,WIRING,RESIDENTIAL BUILDING,11226.0,2608 ALBEMARLE ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.648003,-73.952410,"(40.6480032224184, -73.95241030934798)"
2576202,28750571,08/25/2014 12:00:00 AM,09/07/2014 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,ELECTRIC,WIRING,RESIDENTIAL BUILDING,11691.0,18-26 EVERDELL AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.600933,-73.750912,"(40.60093347617232, -73.75091151513281)"
2576211,28750590,08/25/2014 12:00:00 AM,09/12/2014 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,BASIN/SINK,RESIDENTIAL BUILDING,11421.0,86-06 88 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.690858,-73.857345,"(40.69085844658601, -73.85734464996217)"

In [139]:
new_df.shape

(1158574, 41)

In [140]:
#Thinking we should check the previous years as some neighborhood "rep" could still be in effect even if it was stated resolved. 

#new_df['Created Date'] = pd.to_datetime(new_df['Created Date'], format = '%m/%d/%Y %H:%M:%S %p')

#WON'T BE USING THIS... NOT TOO SURE WHY I'M NOT GETTING EVERYTHING. Probably loss data...
new_df[(new_df['Created Date'] > '01/01/2010 12:00:00 AM') & (new_df['Created Date'] < '08/01/2018 12:00:00 AM')]

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
8,23509339,06/27/2012 02:31:00 AM,06/27/2012 12:00:00 PM,DSNY,Queens East 12,Sanitation Condition,12 Dead Animals,Sidewalk,11436.0,116 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.679962,-73.802209,"(40.679962465998194, -73.80220932208167)"
9,23509340,06/27/2012 03:25:00 PM,06/28/2012 12:00:00 PM,DSNY,BCC - Queens East,Sanitation Condition,22 Weeds,Sidewalk,11691.0,330 BEACH 40 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.595054,-73.772160,"(40.59505427220381, -73.772160146091)"
10,23509344,06/27/2012 12:00:00 AM,07/31/2012 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11228.0,901 80 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.622683,-74.019020,"(40.62268259782637, -74.0190200085561)"
11,23509345,06/27/2012 12:00:00 AM,06/27/2012 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11206.0,128 MANHATTAN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.706936,-73.944859,"(40.70693564721781, -73.9448588214993)"
12,23509346,06/27/2012 12:00:00 AM,07/16/2012 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Construction Site,11218.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.647693,-73.980364,"(40.647692997464205, -73.98036384915527)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2519180,28607963,07/29/2014 09:32:00 AM,08/05/2014 12:00:00 PM,DSNY,A - Bronx,Dirty Conditions,E3 Dirty Sidewalk,Sidewalk,10460.0,1796 VYSE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.837583,-73.885472,"(40.837582696561796, -73.88547154114725)"
2519464,28608951,07/29/2014 09:40:00 AM,08/04/2014 12:00:00 PM,DSNY,A - Brooklyn,Dirty Conditions,E3A Dirty Area/Alleyway,Lot,11216.0,300 HERKIMER STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.679298,-73.943508,"(40.67929791037515, -73.94350804173959)"
2519854,28610090,07/29/2014 09:30:00 AM,08/05/2014 12:00:00 PM,DSNY,A - Bronx,Dirty Conditions,E3 Dirty Sidewalk,Sidewalk,10461.0,2569 FRISBY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.841103,-73.844973,"(40.84110349955073, -73.84497303939075)"
2521965,28615358,08/01/2014 07:00:00 AM,NaN,DOT,Department of Transportation,Street Condition,Wear & Tear,NaN,10307.0,573 MAIN STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.500621,-74.243986,"(40.50062125381004, -74.24398645134252)"
2522421,28616360,08/01/2014 04:10:00 PM,08/05/2014 12:00:00 PM,DSNY,A - Queens,Dirty Conditions,E3A Dirty Area/Alleyway,Lot,11368.0,99-17 39 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.749706,-73.866386,"(40.74970601903856, -73.86638586815461)"

In [141]:
new_df['Incident Zip'].unique()

array([11436., 11691., 11228., 11206., 11218., 10310., 10306., 11210.,
       11223., 11214., 11230., 11225., 11229., 11355., 10033., 11434.,
       11236., 10023., 10037., 11106., 11412., 11222., 10011., 10027.,
       10458., 11212., 10453., 10032., 11207., 11220., 10467., 10462.,
       11213., 11208., 10030., 11694., 11413., 10009., 11224., 10003.,
       11373., 11377., 10472., 11428., 11103., 10302., 10452., 10040.,
       10028., 10454., 11375., 11420., 11233., 11231., 11427., 10312.,
       10468., 10457., 11217., 10022., 10018., 11374., 10010., 10029.,
       11358., 11361., 11219., 10024., 10456., 11221., 11226., 10470.,
       11421., 10002., 10025., 10471., 11215., 11385., 10026., 11216.,
       10461., 11418., 10304., 11238., 11004., 10463., 10466., 11416.,
       10314., 11249., 11235., 11369., 11368., 11211., 11234., 11419.,
       10035., 11372., 11414., 10303., 10465., 11209., 11354., 11415.,
       11101., 11432., 10459., 10460., 10016., 10019., 10021., 10308.,
       11378., 11423., 10012., 11362., 11433., 10301., 11204., 10036.,
       11422., 11366., 10013., 11203., 10469., 11379., 10305., 11201.,
       11417., 10034., 11237., 11435., 11364., 10031., 10128., 11356.,
       11370., 10001., 11367., 10075., 11102., 10014., 10473., 11365.,
       11429., 10474., 10455., 11692., 10475., 11426., 11104., 11411.,
       11232., 10451., 10309., 11357., 10039., 11363., 11105., 11205.,
       11693., 11697., 10038., 10017., 10065., 10307., 10004., 11360.,
       10005., 10464., 10007., 11001., 10044., 11239., 10020., 10282.,
       10280., 10006., 11040., 10069., 10041., 11109., 10107., 10048.,
       10281., 11695., 10129., 10162., 11005., 10103., 10111., 11430.,
       10803., 10112., 10000., 10118., 11241., 10119., 10153., 11242.,
       11359.])

In [142]:
# Summing up the number of times each zip appeared

new_df['Incident Zip'].value_counts()

11226.0    28126
10467.0    26161
10458.0    22856
10468.0    21537
10453.0    20407
           ...
10103.0        4
10153.0        3
11241.0        3
11359.0        3
11242.0        2
Name: Incident Zip, Length: 201, dtype: int64

In [143]:
#new_df['Incident Zip'] == '11226'

new_df['Incident Zip'].dtype

dtype('float64')

In [144]:
new_df['Incident Zip'] = new_df['Incident Zip'].astype('int64')

C:\Users\Garland\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [145]:
new_df.tail(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
2576192,28750551,08/25/2014 12:00:00 AM,09/10/2014 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,ELECTRIC,OUTLET/SWITCH,RESIDENTIAL BUILDING,11236,9320 AVENUE L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636865,-73.898084,"(40.636865247686245, -73.89808438974755)"
2576193,28750553,08/25/2014 12:37:00 PM,08/25/2014 12:37:00 PM,DSNY,BCC - Queens West,Sanitation Condition,12 Dead Animals,Sidewalk,11105,23-79 24 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775940,-73.919170,"(40.775940009617706, -73.91917027518858)"
2576199,28750565,08/25/2014 12:00:00 AM,09/19/2014 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,ELECTRIC,WIRING,RESIDENTIAL BUILDING,11226,2608 ALBEMARLE ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.648003,-73.952410,"(40.6480032224184, -73.95241030934798)"
2576202,28750571,08/25/2014 12:00:00 AM,09/07/2014 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,ELECTRIC,WIRING,RESIDENTIAL BUILDING,11691,18-26 EVERDELL AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.600933,-73.750912,"(40.60093347617232, -73.75091151513281)"
2576211,28750590,08/25/2014 12:00:00 AM,09/12/2014 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,BASIN/SINK,RESIDENTIAL BUILDING,11421,86-06 88 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.690858,-73.857345,"(40.69085844658601, -73.85734464996217)"

In [146]:
new_df.shape

(1158574, 41)

In [147]:
#Count up the total complaints by zip code
zip_incident_count = new_df['Incident Zip'].value_counts()
zip_incident_count

11226    28126
10467    26161
10458    22856
10468    21537
10453    20407
         ...
10103        4
11359        3
10153        3
11241        3
11242        2
Name: Incident Zip, Length: 201, dtype: int64

In [148]:
#Making a df with what we got before.
zip_incident_df = zip_incident_count.rename_axis('addr_zip').reset_index(name = 'Number of Incidents')
print(zip_incident_df)

     addr_zip  Number of Incidents
0       11226                28126
1       10467                26161
2       10458                22856
3       10468                21537
4       10453                20407
..        ...                  ...
196     10103                    4
197     11359                    3
198     10153                    3
199     11241                    3
200     11242                    2

[201 rows x 2 columns]

In [149]:
#Check if zip_incident_df is a dataframe
isinstance(zip_incident_df, pd.DataFrame)

True

In [150]:
train_df.columns

Index(['rental_id', 'addr_unit', 'building_id', 'bedrooms', 'bathrooms',
       'size_sqft', 'created_at', 'addr_street', 'addr_city', 'addr_zip',
       'addr_lat', 'addr_lon', 'bin', 'bbl', 'floor_count', 'year_built',
       'min_to_subway', 'has_doorman', 'has_elevator', 'has_fireplace',
       'has_dishwasher', 'is_furnished', 'has_gym', 'allows_pets',
       'has_washer_dryer', 'has_garage', 'has_roofdeck', 'has_concierge',
       'has_pool', 'has_garden', 'has_childrens_playroom', 'rent', 'no_fee',
       'description', 'neighborhood', 'borough', 'unit', 'floornumber',
       'line'],
      dtype='object')

In [151]:
train_df.shape

(12000, 39)

In [152]:
test_df.columns

Index(['rental_id', 'addr_unit', 'building_id', 'bedrooms', 'bathrooms',
       'size_sqft', 'created_at', 'addr_street', 'addr_city', 'addr_zip',
       'addr_lat', 'addr_lon', 'bin', 'bbl', 'floor_count', 'year_built',
       'min_to_subway', 'has_doorman', 'has_elevator', 'has_fireplace',
       'has_dishwasher', 'is_furnished', 'has_gym', 'allows_pets',
       'has_washer_dryer', 'has_garage', 'has_roofdeck', 'has_concierge',
       'has_pool', 'has_garden', 'has_childrens_playroom', 'rent', 'no_fee',
       'description', 'neighborhood', 'borough', 'unit', 'floornumber',
       'line'],
      dtype='object')

In [153]:
test_df.shape

(2000, 39)

In [154]:
zip_incident_df.to_csv('zip_incident_df.csv')

In [155]:
#Make sure you change your directory for this. 
#Only reason I am doing this is to join the dataframes in the next few cells.
incident_count_df = pd.read_csv('C:/Users/Garland/RentPrediction/zip_incident_df.csv', index_col=0)

In [156]:
#Making sure it's here
incident_count_df.head(5)

   addr_zip  Number of Incidents
0     11226                28126
1     10467                26161
2     10458                22856
3     10468                21537
4     10453                20407

In [157]:
incident_count_df.shape

(201, 2)

In [158]:
#Merge with train and test data
merged_train = pd.merge(train_df, incident_count_df, how='outer', on='addr_zip')
merged_test = pd.merge(test_df, incident_count_df,how='outer', on='addr_zip')

In [159]:
merged_train.shape

(12052, 40)

In [160]:
merged_train

,rental_id,addr_unit,building_id,bedrooms,bathrooms,size_sqft,created_at,addr_street,addr_city,addr_zip,...,has_childrens_playroom,rent,no_fee,description,neighborhood,borough,unit,floornumber,line,Number of Incidents
0,7236931.0,#22A,551248.0,4.0,3.0,1300.0,2018-06-04 16:31:06,645 OCEAN AVENUE,Brooklyn,11226,...,0.0,3925.0,1.0,MAGNIFICENT GUT RENOVATED 4 BEDROOM 3 BATHROOM...,Flatbush,Brooklyn,22A,NaN,NaN,28126
1,7323106.0,#B23,548233.0,1.0,1.0,800.0,2018-07-01 12:15:36,199 LINDEN BOULEVARD,Brooklyn,11226,...,0.0,1645.0,0.0,+ Large Apartment\r\n+ New Kitchen\r\n+ King S...,Flatbush,Brooklyn,B23,NaN,NaN,28126
2,7316782.0,#6G,559180.0,1.0,1.0,750.0,2018-06-28 16:29:30,585 EAST 21 STREET,Brooklyn,11226,...,0.0,1650.0,1.0,"NO FEE\r\n\r\nYour new dream rental, is a real...",Ditmas Park,Brooklyn,6G,6.0,G,28126
3,7148167.0,#1P,18771592.0,0.0,1.0,492.0,2018-05-04 16:04:18,125 PARKSIDE AVENUE,Brooklyn,11226,...,1.0,2250.0,1.0,Advertised rent reflects a net rent of 2 month...,Prospect Park South,Brooklyn,1P,1.0,P,28126
4,7293532.0,#2C,555277.0,1.0,1.0,785.0,2018-06-21 08:03:18,330 EAST 22 STREET,Brooklyn,11226,...,0.0,1895.0,0.0,NO FEE!!!!\r\nNewly renovated 1 bedroom in Dit...,Flatbush,Brooklyn,2C,2.0,C,28126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
12048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
12049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
12050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11241,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
12051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11242,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [161]:
merged_train['Number of Incidents'].isna().value_counts()

False    12052
Name: Number of Incidents, dtype: int64

In [162]:
merged_test.shape

(2073, 40)

In [163]:
merged_test

,rental_id,addr_unit,building_id,bedrooms,bathrooms,size_sqft,created_at,addr_street,addr_city,addr_zip,...,has_childrens_playroom,rent,no_fee,description,neighborhood,borough,unit,floornumber,line,Number of Incidents
0,7499437.0,#1B,18724.0,1.0,1.0,550.0,2018-08-22 10:00:37,167 MOTT STREET,New York,10013,...,0.0,2700.0,1.0,"By Owner, No Fees!\n\nNewly renovated building...",Little Italy,Manhattan,1B,1.0,B,5283
1,7431622.0,#5J,3286.0,0.0,1.0,490.0,2018-08-01 16:56:54,111 WORTH STREET,New York,10013,...,0.0,3000.0,1.0,"This is a 490 SF, studio, 1 bath unit on the 5...",Tribeca,Manhattan,5J,5.0,J,5283
2,7473235.0,#1004,5479.0,1.0,1.0,750.0,2018-08-13 22:08:07,34 DESBROSSES STREET,New York,10013,...,0.0,4395.0,1.0,Corner apartment with eastern and triple expos...,Tribeca,Manhattan,1004,10.0,04,5283
3,7514890.0,#608,5479.0,1.0,1.0,750.0,2018-08-27 20:08:34,34 DESBROSSES STREET,New York,10013,...,0.0,4295.0,1.0,Our only one bedroom left! \n\nHere are all th...,Tribeca,Manhattan,608,6.0,08,5283
4,7460065.0,#PH1,2638.0,4.0,3.0,7200.0,2018-08-09 12:04:12,142 DUANE STREET,New York,10013,...,0.0,39000.0,0.0,This 3 bedroom (convertible 4 bedroom) triplex...,Tribeca,Manhattan,PH1,7.0,1,5283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11241,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11242,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [164]:
merged_test['Number of Incidents'].isna().value_counts()

False    2073
Name: Number of Incidents, dtype: int64

In [165]:
train_df['building_id'].isna().value_counts()

False    12000
Name: building_id, dtype: int64

In [166]:
merged_test['building_id'].isna().value_counts()

False    2000
True       73
Name: building_id, dtype: int64

In [167]:
merged_train['building_id'].isna().value_counts()

False    12000
True        52
Name: building_id, dtype: int64

In [168]:
#Dropping rows where there were no houses associated with the zip due to the outer join.
merged_test = merged_test[np.isfinite(merged_test['building_id'])]
merged_train = merged_train[np.isfinite(merged_train['building_id'])]

In [169]:
#Check to see if it worked properly 
print(merged_test.shape)
print(merged_train.shape)

(2000, 40)
(12000, 40)

In [170]:
print(merged_test['building_id'].isna().value_counts())
print(merged_train['building_id'].isna().value_counts())

False    2000
Name: building_id, dtype: int64
False    12000
Name: building_id, dtype: int64

In [173]:
merged_test.to_csv('merged_test_data.csv')

In [174]:
merged_train.to_csv('merged_train_data.csv')

In [175]:
merged_test

,rental_id,addr_unit,building_id,bedrooms,bathrooms,size_sqft,created_at,addr_street,addr_city,addr_zip,...,has_childrens_playroom,rent,no_fee,description,neighborhood,borough,unit,floornumber,line,Number of Incidents
0,7499437.0,#1B,18724.0,1.0,1.0,550.0,2018-08-22 10:00:37,167 MOTT STREET,New York,10013,...,0.0,2700.0,1.0,"By Owner, No Fees!\n\nNewly renovated building...",Little Italy,Manhattan,1B,1.0,B,5283
1,7431622.0,#5J,3286.0,0.0,1.0,490.0,2018-08-01 16:56:54,111 WORTH STREET,New York,10013,...,0.0,3000.0,1.0,"This is a 490 SF, studio, 1 bath unit on the 5...",Tribeca,Manhattan,5J,5.0,J,5283
2,7473235.0,#1004,5479.0,1.0,1.0,750.0,2018-08-13 22:08:07,34 DESBROSSES STREET,New York,10013,...,0.0,4395.0,1.0,Corner apartment with eastern and triple expos...,Tribeca,Manhattan,1004,10.0,04,5283
3,7514890.0,#608,5479.0,1.0,1.0,750.0,2018-08-27 20:08:34,34 DESBROSSES STREET,New York,10013,...,0.0,4295.0,1.0,Our only one bedroom left! \n\nHere are all th...,Tribeca,Manhattan,608,6.0,08,5283
4,7460065.0,#PH1,2638.0,4.0,3.0,7200.0,2018-08-09 12:04:12,142 DUANE STREET,New York,10013,...,0.0,39000.0,0.0,This 3 bedroom (convertible 4 bedroom) triplex...,Tribeca,Manhattan,PH1,7.0,1,5283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,7464379.0,#2,2186677.0,3.0,2.0,1200.0,2018-08-10 13:02:38,211 BEACH 96 STREET,Far Rockaway,11693,...,0.0,2000.0,0.0,3 Bedroom & 2 Bathroom rental unit in Far Rock...,Rockaway All,Queens,2,2.0,NaN,1517
1996,7446583.0,#2,605389.0,1.0,1.0,1100.0,2018-08-06 12:15:13,982 39 STREET,Brooklyn,11219,...,0.0,1750.0,0.0,Welcome to a true loft apartment that makes yo...,Borough Park,Brooklyn,2,2.0,NaN,6790
1997,7479859.0,#2,2350396.0,2.0,1.0,1150.0,2018-08-15 17:00:22,487 CLIFTON AVENUE,Staten Island,10305,...,0.0,1600.0,0.0,Spacious 2 bed 1 bath apartment in a beautiful...,Rosebank,Staten Island,2,2.0,NaN,3881
1998,7438204.0,#1S,1104748.0,2.0,1.0,828.0,2018-08-03 03:11:27,1545 RHINELANDER AVENUE,Bronx,10461,...,0.0,1950.0,0.0,This apartment is located in beautiful Park li...,Morris Park,Bronx,1S,1.0,S,8485
1999,7430287.0,#2D,18502579.0,1.0,1.0,735.0,2018-08-01 14:17:37,73-51 BELL BOULEVARD,Oakland Gardens,11364,...,0.0,1700.0,0.0,large 1br apt available in oakland gardens\r\n...,Oakland Gardens,Queens,2D,2.0,D,2074

In [176]:
merged_train

,rental_id,addr_unit,building_id,bedrooms,bathrooms,size_sqft,created_at,addr_street,addr_city,addr_zip,...,has_childrens_playroom,rent,no_fee,description,neighborhood,borough,unit,floornumber,line,Number of Incidents
0,7236931.0,#22A,551248.0,4.0,3.0,1300.0,2018-06-04 16:31:06,645 OCEAN AVENUE,Brooklyn,11226,...,0.0,3925.0,1.0,MAGNIFICENT GUT RENOVATED 4 BEDROOM 3 BATHROOM...,Flatbush,Brooklyn,22A,NaN,NaN,28126
1,7323106.0,#B23,548233.0,1.0,1.0,800.0,2018-07-01 12:15:36,199 LINDEN BOULEVARD,Brooklyn,11226,...,0.0,1645.0,0.0,+ Large Apartment\r\n+ New Kitchen\r\n+ King S...,Flatbush,Brooklyn,B23,NaN,NaN,28126
2,7316782.0,#6G,559180.0,1.0,1.0,750.0,2018-06-28 16:29:30,585 EAST 21 STREET,Brooklyn,11226,...,0.0,1650.0,1.0,"NO FEE\r\n\r\nYour new dream rental, is a real...",Ditmas Park,Brooklyn,6G,6.0,G,28126
3,7148167.0,#1P,18771592.0,0.0,1.0,492.0,2018-05-04 16:04:18,125 PARKSIDE AVENUE,Brooklyn,11226,...,1.0,2250.0,1.0,Advertised rent reflects a net rent of 2 month...,Prospect Park South,Brooklyn,1P,1.0,P,28126
4,7293532.0,#2C,555277.0,1.0,1.0,785.0,2018-06-21 08:03:18,330 EAST 22 STREET,Brooklyn,11226,...,0.0,1895.0,0.0,NO FEE!!!!\r\nNewly renovated 1 bedroom in Dit...,Flatbush,Brooklyn,2C,2.0,C,28126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,7293961.0,#3D,1151395.0,1.0,1.0,750.0,2018-06-21 10:58:32,3333 BRUNER AVENUE,Bronx,10469,...,0.0,1450.0,0.0,"Very Spacious and Sunny, Private Terrace, Dish...",Laconia,Bronx,3D,3.0,D,7571
11996,7196131.0,#2,2280460.0,2.0,1.0,776.0,2018-05-21 15:11:01,158 HAGAMAN PLACE,Staten Island,10302,...,0.0,1900.0,0.0,Showing by appointments only!\r\n\r\n2 Bedroom...,Port Richmond,Staten Island,2,2.0,NaN,2208
11997,7162432.0,#19,1083148.0,1.0,1.0,725.0,2018-05-09 15:49:39,1427 TAYLOR AVENUE,Bronx,10460,...,0.0,1450.0,0.0,Spacious Totally Renovated One Bedroom \r\n\r\...,Parkchester,Bronx,19,NaN,NaN,12578
11998,7229170.0,#30,1083148.0,1.0,1.0,750.0,2018-06-01 15:38:15,1427 TAYLOR AVENUE,Bronx,10460,...,0.0,1450.0,0.0,This unique and gut renovated apartment featur...,Parkchester,Bronx,30,NaN,NaN,12578
11999,7397476.0,#2,1917055.0,0.0,1.0,900.0,2018-07-24 14:18:44,192-11 JAMAICA AVENUE,Hollis,11423,...,0.0,1750.0,0.0,RENOVATED TWO BEDS WITH OUTDOOR SPACE!\r\nClos...,Hollis,Queens,2,2.0,NaN,3502